.home-nav-links {
  color: #18272f;
  position: relative;
  text-decoration: none !important;
}

.home-nav-links::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.home-nav-links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.signIn-link {
  text-decoration: none !important;
  position: relative;
}

.signIn-link::before {
  content: "";
  background-color: hsla(196, 61%, 58%, 0.75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.signIn-link:hover::before {
  bottom: 0;
  height: 100%;
}
