@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

*{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

.main-headline {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.main-image{
    object-fit: cover;
    height: 25rem;
}

[class^="aside-image-"]{
  position: absolute;
  height: 25%;
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(10px);
  }
}

.aside-image-1{
top: -2rem;
left: -2rem;
}

.aside-image-2{
  bottom: -2rem;
}

.aside-image-3{
  bottom: 5rem;
  right: -1rem;
}

.home-btn {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20rem;
  color: black !important;
  font-weight: 700;
}

.home-btn:after {
  content: "";
  background-color: #88d8fb;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: -7px;
  transition: 0.2s;
}

.home-btn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .home-btn {
    padding: 13px 50px 13px;
  }
}